body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #939393;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #ffffff;
  text-decoration-color: #a9bbb1;
}
a:hover,
a:focus,
a:active {
  color: #ffbc9e;
  text-decoration-color: #a7a294;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container-1 {
  background-color: #849d8f;
  background-image: url("../img/two-ice-cream-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.container-2 {
  background-color: ;
  background-image: url("../img/two-ice-cream-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.container-3 {
  background-color: ;
  background-image: url("../img/two-ice-cream-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.catalog-container {
  background-color: #849d8f;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 250px;
  padding: 0 27px;
}
.catalog-container .main-header {
  margin-bottom: 20px;
}
.main-navigation {
  display: flex;
  margin-top:10px; 
  width: 100%;
  z-index: 1;
}
.site-navigation {
  line-height: 18px;
  display: flex;
  margin: 0;
  margin-right: auto;
  list-style: none;
}
.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  margin: 0;
  list-style: none;
}
.site-navigation-item {
  padding: 10px 5px;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
  background-color: #f7f6f3;
  color: #333333;
  border-radius: 40px;
  padding: 10px;
  text-decoration: none;
}
.site-navigation-item a:active {
  background-color: #f7f6f3;
  color: #333333;
  border-radius: 40px;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  padding: 10px;
  transition: all 0.3s linear;
  text-decoration: none;
}
.site-navigation-item:first-child {
  position: relative;
}
.site-navigation-item-current a {
  background-color: #d07058;
  border-radius: 40px;
  padding: 10px;
  text-decoration: none;
}
.catalog-name-list {
  display: none;
  position: absolute;
  flex-direction: column;
  list-style: none;
  background-color: #f8f7f4;
  border-radius:5px;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  width: 143px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.catalog-name-list a {
  color: #323232;
  text-decoration: none;
  font-weight: 400;
}
.catalog-name-item {
  padding: 10px 20px;
}
.catalog-name-item:first-child {
  position: relative;
  margin-bottom: 20px;
}
.catalog-name-item:first-child a {
  font-weight: 700;
}
.catalog-name-item:first-child::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 8px;
  background-color: #d1d0ce;
  width: 127px;
  height: 1px;
}
.catalog-name-item:hover, 
.catalog-name-item:focus {
  background-color: #fbded7;
  border-radius:inherit;
}
.catalog-name-item:active {
  background-color: #f6b5a5;
  border-radius:inherit;
}
.catalog-name-item-current {
  background-color:#d07058;
  color: white;
  border-radius:inherit;
}
.user-navigation-item {
  padding: 10px 5px;
  position: relative;
}
.user-navigation a {
  text-decoration: none;
  background:#9db1a5;
  box-shadow: none;
  border-radius: 40px;
  padding: 10px;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f8f7f4;
  color: #323232;
}
.user-navigation a:hover svg path,
.user-navigation a:focus svg path,
.user-navigation a:hover svg polygon,
.user-navigation a:focus svg polygon,
.user-navigation a:hover svg circle,
.user-navigation a:focus svg circle {
  fill: #000000;
}
.contacts {
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  margin: 0;
}
.contacts b {
  font-size: 22px;
  line-height: 24px;
}
.big-offers {
  display: flex;
  flex-direction: column;
  margin: 0 27px;
  margin-bottom: 20px;
}
.big-offer-disabled {
  display: none;
}
.big-offer h3 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 240px;
}
.slider-button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid white;
  border-radius:50%;
  cursor: pointer; 
}
.slider-button:hover,
.slider-button:focus {
  background-color: #b2c1b7;
}
.slider-button:active {
  background-color: white;
}
.slider-button-disabled {
  background-color: inherit;
}
.button {
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
  padding: 10px;
  text-decoration: none;
  border: none;
  color: white;
  border-radius:40px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.big-button {
  font-size: 32px;
  line-height: 44px;
  margin: auto;
  font-weight: 500;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  margin-bottom: 20px;
}
.small-offer {
  display: flex;
  flex-direction: column;
  width: 520px;
  padding: 20px;
  border-radius: 10px;
}
.small-offer:first-child {
  background-image: url("../img/fon-1.jpg");
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
}
.small-offer:last-child {
  background-image: url("../img/fon-2.jpg");
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
}
.small-offer h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}
.small-offer p {
  font-size: 18px;
}
.small-offer .button {
  margin-left: auto;
}
.popular-catalog {
  padding: 0 27px;
  margin-bottom: 20px;
}
.catalog-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.catalog-item {
  width: 267px;
  position: relative;
}
.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.catalog-item-price {
  font-size: 30px;/*?*/
  line-height: 45px;
  font-weight: 500;
  position: absolute;
  bottom: 50px;
  left:0;
}
.catalog-item-price b {
  font-size: 45px;/*?*/
}
.catalog-item:hover {
  background-color: #9bafa3;
  box-shadow: box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.features {
  color:#323232;
  font-weight: 400;
  padding:20px;
  margin: 0 27px;
  background-color: #ebdfc3;
  background-image: url("../img/fon-5.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  margin-bottom: 20px;
  border-radius: 10px;
}
.features-list {
  list-style: none;
  padding: 0;
}
.features b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.features-item {
  position: relative;
  padding-left: 50px;
}
.features-item-icecream::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: inherit;
    background-image: url("../img/icecream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.features-item-leaf::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: inherit;
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.features-item-cow::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: inherit;
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.features-item-therm::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: inherit;
    background-image: url("../img/therm.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/fon-3.jpg");
  background-position: -30px -210px;
  background-repeat: no-repeat;
  width: 520px;
  overflow: hidden;
  padding: 20px;
  border: 3px solid inherit;
  border-radius: 10px;
}
.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}
.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.news p {
  width: 282px;
  margin: 0;
  margin-bottom: 60px;
}
.subscription {
  color: #5a5a5a;
  font-weight: 400;
  background-color: #f8f7f4;
  background-image: url("../img/fon-4.png");
  width: 550px;
  padding: 5px;
  border: 3px solid inherit;
  border-radius: 10px;
}
.subscription-wrapper {
  background-color: #f8f7f4;
  padding: 15px;
  border: 3px solid inherit;
  border-radius: 3% 3%;
}
.subscription p {
  margin-bottom: 50px;
}
.subscription input {
  width: 368px;
  padding: 10px;
  border: 1px solid #d3d3d2;
  border-radius:5px; 
  margin-bottom: 40px;
}
.map {
  color: #323232;
  position: relative;
  height: 430px;
  overflow: hidden;
}
.map-contacts {
  position: absolute;
  background-color: #ffffff;
  top: 61px;
  right: 27px;
  width: 262px;
  height: 265px;
  padding: 20px;
  border-radius:10px; 
}
.map-contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.map-contacts b {
  font-size: 18px;
  line-height: 24px;
}
.modal {
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px; 
  font-size: 14px;
}
.modal input {
  background-color:white;
  color: #999999;
  padding: 10px; 
  border-radius: 6px; 
  line-height: 24px;
  font-size: 14px;
}
.modal-search {
  padding: 20px 16px;
  position: absolute;
  right: 0;
  width: 310px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.modal-enter {
  position: absolute;
  flex-direction: column;
  padding: 20px 18px;
  width: 241px;
  right: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.modal-enter a {
  font-size: 13px;
  color: #323232;
}
.modal-enter input {
  margin-bottom: 20px;
}
.modal-contacts {
  width: 428px;
  height: 412px;
  top: 200px;
  left: 50%;
  margin-left: -214px;
  position: fixed;
  flex-direction: column;
  padding: 15px 25px;
}
.modal-contacts input {
  width: 267px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  font-size: 16px;
}
.modal-contacts b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.modal-contacts textarea {
  border-radius: 5px;
  color: #999999;
  line-height: 24px;
  font-size: 16px;
  border: 1px solid #d3d3d2;
  padding: 10px;
  margin-bottom: 15px;
}
.modal-contacts .button {
  margin-left: 290px;
}
.modal-case {
  flex-direction: column;
  position: absolute;
  right: 0;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}
.footer-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: auto 0;
}
.social-button {
  background: inherit;
  box-shadow: inherit;
}
.info-list {
  list-style: none;
}
.footer-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.info-item:first-child {
  font-weight: 700;
}
.footer-copyright .button {
  background: inherit;
  box-shadow: inherit;
  padding: 0;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: auto 0;
}
.footer-copyright p {
  margin: 0;
}
.main-name {
  margin: 0 27px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}
.breadcrumbs {
  margin: 0 27px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
}
.breadcrumbs li {
  padding-right: 20px ;
  position: relative;
}
.breadcrumbs li:first-child::after {
  content: ">";
  position: absolute;
  right: 5px;
}
.breadcrumbs li:nth-child(2)::after {
  content: ">";
  position: absolute;
  right: 5px;
}
.filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 27px;
  margin-bottom: 20px;
  width: 873px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
}
.filter fieldset {
  border: none;
  padding: 0;
  margin-right: 16px ;
  margin-left: 0;
}
.filter legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}
.filter-sorting {
  width: 193px;
}
.filter-price {
  width: 218px;
}
.filter-fat {
  width: 414px;
}
.radio-label {
  position: relative;
}
.radio-label input[type="radio"] + .radio-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.radio-label input[type="radio"]:checked + .radio-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-position:  0 0;
  background-repeat:  no-repeat; 
}
.radio-label input[type="radio"]:focus + .radio-indicator {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.radio-label input[type="radio"]:disabled + .radio-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off-disabled.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.radio-label input[type="radio"]:checked:disabled + .radio-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on-disabled.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.filter-fill  ul {
  width: 693px;
}
.filter-fill li {
  padding-left:50px; 
} 
.filter-fill li:last-child {
  padding-right: 20px;
}
.checkbox-label {
  position: relative;
}
.checkbox-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-position:  0 0;
  background-repeat:  no-repeat; 
}
.checkbox-label input[type="checkbox"]:focus + .checkbox-indicator {
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.checkbox-label input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  position: absolute;
  top:-5px;
  left:-25px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-position:  0 0;
  background-repeat:  no-repeat;
}
.filter-item {
  display: flex;
  background-color: #a9bab0;
  border-radius: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 35px;
  justify-content: space-around;
  align-items: center;
}
.filter-price {
  font-weight: normal;

  background-color:transparent;
}
.range-controls {
  position: relative;
  padding: 20px;
  border-radius:30px;
  background-color:  #a9bab0;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: 10px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.filter-button {
  background: #a6b7ae;
  box-shadow: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 25px;
}
.catalog {
  padding: 0 27px;
  margin-bottom: 20px;
}
.pagination-list {
  list-style: none;
  display: flex;
  line-height: 18px;
  font-weight: 500;
  justify-content: flex-end;
  padding: 0;
}
.pagination-item {
  padding: 10px;
}



