body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #939393;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  

  background-color: #849d8f;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 0 27px;
}
.main-navigation {
  display: flex;
  margin-top:10px; 
  width: 100%;
  z-index: 1;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation {
  line-height: 18px;
  display: flex;
  margin: 0;
  margin-right: auto;
}
.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  margin: 0;
}
.site-navigation-item {
  padding: 10px 5px;
}
.user-navigation-item {
  padding: 10px 5px;
}
.user-navigation a {
  text-decoration: none;
}
/*.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}*/
.contacts {
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  margin: 0;
}
.contacts b {
  font-size: 22px;
  line-height: 24px;
}
.big-offers {
  display: flex;
  flex-direction: column;
  margin: 0 27px;
  margin-top: 500px;
  margin-bottom: 20px;
}
.big-offer-disabled {
  display: none;
}
.big-offer h3 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 240px;
  z-index: 1;
}
.big-offer img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -522px ;
}
.button {
  font-size: 18px;
  line-height: 24px;
  background-color: #ed5a3d;
  padding: 10px;
  text-decoration: none;
  border-radius:40%; 
}
.big-button {
  font-size: 32px;
  line-height: 44px;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  margin-bottom: 20px;
}
.small-offer {
  width: 520px;
  padding: 20px;
  border: 3px solid inherit;
  border-radius: 3% 3%;
}
.small-offer:first-child {
  background-image: url("../img/fon-1.jpg");
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
}
.small-offer:last-child {
  background-image: url("../img/fon-2.jpg");
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
}
.small-offer h3 {
  font-size: 35px;
  line-height: 41px;
}
.small-offer p {
  font-size: 18px;
}
.popular-catalog {
  padding: 0 27px;
  margin-bottom: 20px;
}
.catalog-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.catalog-item {
  width: 267px;
  position: relative;
}
.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.catalog-item-price {
  font-size: 30px;/*?*/
  line-height: 45px;
  font-weight: 500;
  position: absolute;
  bottom: 50px;
  left:0;
}
.catalog-item-price b {
  font-size: 45px;/*?*/
}
.features {
  color:#323232;
  font-weight: 400;
  padding:20px;
  margin: 0 27px;
  background-color: #ebdfc3;
  background-image: url("");
  margin-bottom: 20px;
}
.features-list {
  list-style: none;
}
.features b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/fon-3.jpg");
  background-position: -30px -210px;
  background-repeat: no-repeat;
  width: 520px;
  overflow: hidden;
  padding: 20px;
  border: 3px solid inherit;
  border-radius: 3% 3%;
}
.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}
.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.news p {
  width: 282px;
  margin: 0;
  margin-bottom: 60px;
}
.subscription {
  color: #5a5a5a;
  font-weight: 400;
  background-color: #f8f7f4;
  width: 520px;
  padding: 20px;
  border: 3px solid inherit;
  border-radius: 3% 3%;
}
.map {
  color: #323232;
  position: relative;
  height: 430px;
  overflow: hidden;
}
.map-contacts {
  position: absolute;
  background-color: #ffffff;
}
.map-contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.map-contacts b {
  font-size: 18px;
  line-height: 24px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}
.footer-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: auto 0;
}
.social-button {
  background-color: inherit;
}
.info-list {
  list-style: none;
}
.footer-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.info-item:first-child {
  font-weight: 700;
}
.footer-copyright .button {
  background-color: inherit;
  padding: 0;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: auto 0;
}
.main-name {
  margin: 0 27px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}
.breadcrumbs {
  margin: 0 27px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
}
.breadcrumbs li {
  padding-right: 20px ;
}
.filters {
  margin: 0 27px;
  margin-bottom: 20px;
  width: 865px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
}
.filter fieldset {
  border: none;
  padding: 0;
}
.filter-item {
  display: flex;
  background-color: #a9bab0;
  border: 1px solid inherit;
  border-radius: 5% 5%;
  list-style: none;
}
.catalog {
  padding: 0 27px;
  margin-bottom: 20px;
}
.pagination-list {
  list-style: none;
  display: flex;
  line-height: 18px;
  font-weight: 500;
}


